@import 'multiselect';
@import 'button';
@import 'default';
@import 'media';
@import 'date-picker';
@import 'file-agent';
@import 'horizontal';


.notificationCenter.topRight {
  top: 5rem !important;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 999 !important;
}

 .notificationCenter .vn-notification .vn-container {
   z-index: 999 !important;
 }

.notificationCenter {
  z-index: 999 !important;
}
