//font-sizes
$font-size-xs: 0.65rem;
$font-size-sm: 0.85rem;
$font-size-md: 0.95rem;
$font-size-lg: 1 rem;
$font-size-xl: 1.25rem;
$font-size-xxl: 1.5rem;


//font-weights
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;
$font-weight-boldest: 800;

//Colors
$success-color: #00908c;
$secondary-color: #33333c;
$danger-color: #ff2c61;
