@import 'default';
@import "~vue-horizontal-timeline/src/assets/css/style";

.vue-horizontal-timeline {
  position: relative;
  background: none !important;
  width: 100%;
  box-shadow: none !important;
}

.vue-horizontal-timeline .timeline {
  padding: 12rem 0 !important;
  overflow: auto !important;
}

.vue-horizontal-timeline .timeline ol li.add-step[data-v-c0e978a0]:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% - 140px);
  bottom: 0;
  width: 24px !important;
  height: 24px !important;
  transform: translateY(-50%);
  border-radius: 50%;
  background: $success-color !important;
  border: 1px solid #f5f1f1 !important;
}

.vue-horizontal-timeline .timeline ol {
  margin-top: 9rem !important;
  margin-bottom: 0 !important;
}

.vue-horizontal-timeline .timeline ol li:nth-child(odd) .time[data-v-c0e978a0] {
 overflow: inherit !important;
}
