@media (max-width: 767px) {
  .btn {
    background-color: $default-color;
    color: white;
    font-size: $font-size-md;
    font-weight: $font-weight-light;
    height: 42px;

    &:hover {
      background-color: $secondary-color;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .btn {
    background-color: $default-color;
    color: white;
    font-size: $font-size-md;
    font-weight: $font-weight-light;
    width: 12rem;
    height: 42px;

    &:hover {
      background-color: $secondary-color;
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .btn {
    background-color: $default-color;
    color: white;
    font-size: $font-size-md;
    font-weight: $font-weight-light;
    width: 12rem;
    height: 42px;

    &:hover {
      background-color: $secondary-color;
    }
  }
}
@media (min-width: 1200px) {
  .btn {
    background-color: $default-color;
    color: white;
    font-size: $font-size-md;
    font-weight: $font-weight-light;
    width: 12rem;
    height: 42px;

    &:hover {
      background-color: $secondary-color;
    }
  }
}
